* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #373737;
    font-size: 16px;
    position: relative;
}
.heading-options {
        font-size: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-end;
    }

.btn-primary,
.btn-warning,
.btn-danger {
    color: white;
    font-weight: bold;
}

.input-group .input-group-text i {
    width: 14px;
}

input[type="radio"] {
    position: relative;
    top: 1px;
}

.breadcrumb {
    background-color: #e5e3e8;
    font-size: 13px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.container {
    max-width: 920px;
    padding: 0px 20px;
}

.page-container {
    max-width: 800px;
    padding: 1200px 612px;
    margin: auto;
}

@media (max-width: 768px) {
    .page-container {
        padding: 64px 24px;
    }
}

.white {
    color: #ffffff;
}

#loading {
    display: none;
    background-color: #666666;
    background-image: url("../img/progress_spinner.gif");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000000;
}

/* Login Modal */
#login-modal .modal-dialog {
    width: 350px;
    margin: auto;
}

.modal-footer {
    background-color: #f4f4f4;
    justify-content: center;
}

/* Header */
.header {
    background-color: white;
    font-size: 13px;
}

.header .navbar .navbar-brand img {
    height: 80px;
    width: 70px;
}

.header .navbar .nav-item i {
    margin-right: 8px;
}

.header .nav-vl {
    border-left: 2px solid #d6d6d678;
    height: 24px;
    margin: auto 16px;
    display: block;
}

@media(max-width:768px) {
    .header .nav-vl {
        display: none;
    }
}

.header .nav-name {
    font-weight: bold;
    margin: auto 16px;
}

@media(max-width:768px) {
    .header .nav-name {
        margin: 8px 0px
    }
}

/* Footer */
#footer {
    height: 5px;
    width:10px ;
    font-size: 20px;
}

.footer-container {
    padding-left: 50px;
    padding-right:30px;
    padding-top: 150px;
    padding-bottom: 80px;
}

.footer-options {
    display: flex;
    flex-wrap: nonwrap;
    height: 200px;
    width: 1200px;
    justify-content: space-around;
}

.footer-option {
    text-align: center;
}

@media(max-width:768px) {
    .footer-option {
        width: 100%;
    }
}

.footer-option a {
    color: #0f0518;
}

.footer-copyright {
    color: #a9a9a9;
    text-align: center;
    padding-top: 6px;
}
